# ROS2 build artifacts
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# ROS
.ros/

.cache/
.config/
.local/
.ros/
.rviz2/
.bash_history
.bashrc
.gitconfig
.profile
.DS_Store