# =============================
# macOS
# =============================
.DS_Store
.AppleDouble
.LSOverride

# =============================
# Python
# =============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
*.log

# =============================
# Webots
# =============================
*.wbproj
*.wbo
*.bak
controllers/*/build/
controllers/*/*.exe
controllers/*/*.dll
controllers/*/*.dSYM

# =============================
# VSCode
# =============================
.vscode/

# =============================
# Conda
# =============================
.conda/
*.conda

# =============================
# ROS (future-proofing)
# =============================
build/
install/
log/
